Support Flows/Scrape_recent_news__1_.json
{
  "name": "Scrape recent news",
  "nodes": [
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/top-headlines?country=us&apiKey=[API KEY GOES HERE]",
        "options": {}
      },
      "id": "00559e38-9d28-4699-a4fd-57f9b979dee1",
      "name": "Get latest news",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1020,
        720
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {},
      "id": "2395ec96-d886-4385-a8b7-8685c003fc06",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        740,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37d243b0-09f2-4961-b579-fa27f1986290",
              "name": "response",
              "value": "={{ $json.articles }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "9e882a22-d618-4b38-b34b-df47105eb91b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        720
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Get latest news": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get latest news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12ff39c4-69c1-49d3-a0c3-f4dfd9dd5fe9",
  "meta": {
    "templateId": "2110",
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "ZOsoL70TS4s4oAQa",
  "tags": [
    {
      "createdAt": "2024-12-03T01:22:24.142Z",
      "updatedAt": "2024-12-03T01:22:24.142Z",
      "id": "MbAyiD2BRIcrrusv",
      "name": "NewsAPI"
    },
    {
      "createdAt": "2024-12-03T01:22:29.063Z",
      "updatedAt": "2024-12-03T01:22:29.063Z",
      "id": "9jn0oOoomcBkWAfq",
      "name": "Support"
    },
    {
      "createdAt": "2024-12-03T01:23:12.856Z",
      "updatedAt": "2024-12-03T01:23:12.856Z",
      "id": "PXw5podJBw8huT4r",
      "name": "Production"
    }
  ]
}
