Support Flows/Scrape_weather.json
{
  "name": "Scrape weather",
  "nodes": [
    {
      "parameters": {
        "url": "=https://forecast.weather.gov/MapClick.php?lat=35.1762156&lon=-79.3901026",
        "options": {}
      },
      "id": "ed492379-108b-4092-936d-73c15a50c3c5",
      "name": "Get latest news",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        780,
        620
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {},
      "id": "c04747a2-9140-4ec1-a3e8-0b3c576470aa",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        520,
        620
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {}
      },
      "id": "340d8d40-9987-428c-b9bc-bd1421bc915c",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1060,
        840
      ],
      "credentials": {
        "anthropicApi": {
          "id": "x9lh6S3TbVJkFD6H",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Summarize the weather report for today. Report the temperature in degrees Fahrenheit. Be sure to highlight any extreme weather or emergency alert messages.\n\nAn example of a correct response looks like:\nWeather Forecast for Southern Pines, North Carolina:\nThe weather in Southern Pines, North Carolina, is partly cloudy with a high temperature of 55°F and low temperature of 21°F. There are no extreme weather or emergency alerts in effect for the area.",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Get latest news').item.json.data }}"
            }
          ]
        }
      },
      "id": "dd9c24e6-e689-41cb-92b5-38febf599181",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1040,
        620
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Get latest news": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get latest news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5e26c7a-de87-48e8-a406-5652c4263ffd",
  "meta": {
    "templateId": "2110",
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "QoaNKst3wjBIGYTn",
  "tags": [
    {
      "createdAt": "2024-12-03T01:22:29.063Z",
      "updatedAt": "2024-12-03T01:22:29.063Z",
      "id": "9jn0oOoomcBkWAfq",
      "name": "Support"
    },
    {
      "createdAt": "2024-12-03T01:23:12.856Z",
      "updatedAt": "2024-12-03T01:23:12.856Z",
      "id": "PXw5podJBw8huT4r",
      "name": "Production"
    },
    {
      "createdAt": "2024-12-28T16:06:34.038Z",
      "updatedAt": "2024-12-28T16:06:34.038Z",
      "id": "35oj1dL3Jh2gQ1bn",
      "name": "weather"
    }
  ]
}
