Support Flows/Technical_Stock_Analyst_v2_NYSE.json
{
  "name": "Technical Stock Analyst v2 NYSE",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e37e64f6-64e7-4fbd-9ea1-e9d3ef99b39c",
              "name": "response",
              "type": "string",
              "value": "={{ $json.text }}\n\nHere is the URL to the graph :\n\n{{ $('Tradingview Chart').item.json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6eb60a86-391f-454a-a01c-395cc971a3db",
      "name": "Set 'response' value",
      "type": "n8n-nodes-base.set",
      "position": [
        1540,
        20
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Technical analysis\n### Please update the exchange in settings.  Defaults to NYSE",
        "height": 368,
        "width": 1152,
        "color": 7
      },
      "id": "15d0b5d7-8c4b-4572-b9c1-d0c59a3a0b33",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "4c2415d8-428c-432b-ab6e-c94465103239",
      "name": "Download Chart",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        980,
        20
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/advanced-chart/storage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "=NYSE:{{ $json.company }}"
            },
            {
              "name": "studies",
              "value": "={{\n[\n      {\n        \"name\": \"Volume\"\n      },\n      {\n        \"name\": \"Relative Strength Index\"\n      },\n      {\n        \"name\": \"Directional Movement\",\n        \"override\": {\n          \"+DI.visible\": true,\n          \"+DI.linewidth\": 1,\n          \"+DI.plottype\": \"line\",\n          \"+DI.color\": \"rgb(33,150,243)\",\n          \"-DI.visible\": true,\n          \"-DI.linewidth\": 1,\n          \"-DI.plottype\": \"line\",\n          \"-DI.color\": \"rgb(255,109,0)\",\n          \"DX.visible\": false,\n          \"DX.linewidth\": 1,\n          \"DX.plottype\": \"line\",\n          \"DX.color\": \"rgba(255,255,255,0)\",\n          \"ADX.visible\": true,\n          \"ADX.linewidth\": 2,\n          \"ADX.plottype\": \"line\",\n          \"ADX.color\": \"rgb(245,0,87)\",\n          \"ADXR.visible\": false,\n          \"ADXR.linewidth\": 1,\n          \"ADXR.plottype\": \"line\",\n          \"ADXR.color\": \"rgba(255,255,255,0)\"\n        }\n      }\n    ]\n}}"
            },
            {
              "name": "format",
              "value": "jpeg"
            }
          ]
        },
        "options": {}
      },
      "id": "f5439a04-c217-4d8d-af9d-ce6766922d9e",
      "name": "Tradingview Chart",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        780,
        20
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qHx0xPsBsABzHiGe",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1eb4f1e8-207e-4fe7-8f05-37076d549d7d",
              "name": "company",
              "type": "string",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ed7bb6d1-8468-4464-b9b9-6a15e6bc7848",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        600,
        20
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Start here: Step-by Step Youtube Tutorial :star:\n\n[![Technical Analyst AI Agent using LLM Vision](https://img.youtube.com/vi/yjBHheCB6Ek/sddefault.jpg)](https://youtu.be/yjBHheCB6Ek)\n",
        "height": 550,
        "width": 507,
        "color": 7
      },
      "id": "9f7ade48-2ce3-4f7c-9ebc-f1eba8404c37",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {}
      },
      "id": "7b9b364e-7f16-46b2-89b0-ef2c5547a35e",
      "name": "Anthropic Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        1220,
        200
      ],
      "typeVersion": 1.2,
      "credentials": {
        "anthropicApi": {
          "id": "Y8Jj5utib2BsMmqK",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Expert Stock Technical Analysis\n\nYou are a seasoned professional trader with 20+ years of experience in technical analysis. Provide a data-driven technical evaluation of {{ $('Settings').item.json.company }}'s stock performance. Focus on actionable insights rather than general explanations.\n\n## Market Context\n- Current market environment (bull/bear market, sector rotation, volatility regime)\n- Relevant macroeconomic factors affecting this specific stock\n- {{ $('Settings').item.json.company }}'s position relative to sector and broad market performance\n\n## Price Action Analysis\n- Current market structure: Identify the primary, intermediate, and short-term trends\n- Key price levels: Document precise support/resistance levels (include price values)\n- Volume profile: Note high-volume price zones that may act as future support/resistance\n- Recent price patterns: Analyze only the most significant recent candlestick formations with statistical probability of the expected outcome\n- Track record: How reliable have these patterns been for this particular stock historically?\n\n## Technical Indicator Suite\nFor each indicator, provide:\n1. Current reading with specific values\n2. Historical context (how the current reading compares to past 6-12 months)\n3. Statistical reliability for this specific stock (backtest success rate if available)\n4. Specific trade signals generated, if any\n\n### Momentum Indicators\n- RSI (14): Current value, trend direction, divergences with price action\n- MACD: Signal line crossovers, histogram trend, divergences\n- Stochastic oscillator: Position relative to overbought/oversold boundaries, crossovers\n\n### Trend Indicators\n- Moving Averages: Key MA relationships (50/200 SMA/EMA), price position relative to MAs\n- ADX/DMI: Trend strength measurement, directional movement\n- Bollinger Bands: Width, position of price within bands, band direction\n\n### Volume Indicators\n- On-Balance Volume (OBV): Confirm or contradict price movements\n- Volume trend: Abnormal volume on key moves, volume/price divergences\n- Chaikin Money Flow: Smart money positioning\n\n## Market Timing Analysis\n- Seasonal patterns: Historical performance during current calendar period\n- Volatility environment: Current vs. historical volatility, implied volatility if applicable\n- Cyclical positioning: Where in typical market/economic cycle does this stock currently sit?\n\n## Trade Setup\n- Chart timeframe hierarchy: Alignment of multiple timeframes (daily, weekly, monthly)\n- Risk/reward calculation: Specific numbers with exact price targets based on measured moves\n- Probability assessment: Statistical likelihood of projected outcome based on historical data\n- Suggested position sizing based on volatility and risk parameters\n- Specific entry criteria with exact price levels and confirmation signals\n- Multiple exit scenarios with price targets and trailing stop methodologies\n- Risk management: Precise stop-loss placement with rationale\n\n## Confidence Rating\n- Quantitative rating (1-10) of the overall technical setup\n- Key factors that could invalidate this analysis\n- Timeframe for expected price development\n- Alternative scenarios with probability assessment\n\nToday's date: {{ $now }}\n\nNote: This analysis is based on technical factors only and does not account for fundamental catalysts, news events, or earnings announcements that may override technical factors.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "id": "71ba1c87-f116-42e5-9034-c47b5216a4d2",
      "name": "Extract analyst question and management response",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1200,
        20
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        340,
        20
      ],
      "id": "7296f34a-9b00-4ca8-90a9-4d626a83966f",
      "name": "Execute Workflow Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Settings": {
      "main": [
        [
          {
            "node": "Tradingview Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Chart": {
      "main": [
        [
          {
            "node": "Extract analyst question and management response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tradingview Chart": {
      "main": [
        [
          {
            "node": "Download Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Extract analyst question and management response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract analyst question and management response": {
      "main": [
        [
          {
            "node": "Set 'response' value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a5c3921-ab17-4a97-b9ee-2d86b3a32522",
  "meta": {
    "instanceId": "ff19fe3e1ecede32a9b50e41396632f656322b274eb4b7328c6b113e54538cd9"
  },
  "id": "EZGUZkOScAYwc2lH",
  "tags": [
    {
      "createdAt": "2025-01-05T18:49:13.728Z",
      "updatedAt": "2025-01-05T18:49:13.728Z",
      "id": "QgolFoyYPi2dyy0d",
      "name": "Support"
    },
    {
      "createdAt": "2025-01-05T20:43:31.392Z",
      "updatedAt": "2025-01-05T20:43:31.392Z",
      "id": "8ItsqnxmaGU2iOUh",
      "name": "Finance"
    },
    {
      "createdAt": "2025-01-05T20:43:31.401Z",
      "updatedAt": "2025-01-05T20:43:31.401Z",
      "id": "Hxb5DB2ii3nbCwlb",
      "name": "ChartIMG"
    }
  ]
}