LLM Chat Bots/Anthropic_LLM_Chat_Telegram.json
{
  "name": "Anthropic LLM Chat",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "24dad405-1135-455d-943d-109ef1ab055c",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        480,
        500
      ],
      "credentials": {
        "anthropicApi": {
          "id": "x9lh6S3TbVJkFD6H",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {},
      "id": "9e5b6906-945c-42c0-8423-9df5f326e27d",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        980,
        520
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3c3f6b66-68c1-4237-a8c8-8766ab5bcb12",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1080,
        520
      ],
      "credentials": {
        "serpApi": {
          "id": "iB1VjlLasbVRmSet",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "id": "cb3a8c3d-e533-48cd-923b-629fb4ea8dab",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1180,
        520
      ]
    },
    {
      "parameters": {
        "name": "Stock__analysis",
        "description": "You are an expert financial analyst tasked with providing a comprehensive technical analysis of a stock. Your analysis will be based on various technical indicators and will provide detailed insights for potential investors or traders.",
        "workflowId": {
          "__rl": true,
          "value": "mW5L5iqWGDJs04da",
          "mode": "list",
          "cachedResultName": "Technical Analyst AI Agent using LLM Vision"
        }
      },
      "id": "fa42ac3b-0b88-4968-8337-09457f201bf1",
      "name": "Stock Workflow Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1300,
        520
      ]
    },
    {
      "parameters": {
        "name": "Weather",
        "description": "Call this tool to get the current weather forecast for Southern Pines, nc. ",
        "workflowId": {
          "__rl": true,
          "value": "QoaNKst3wjBIGYTn",
          "mode": "list",
          "cachedResultName": "Scrape weather"
        },
        "responsePropertyName": "text"
      },
      "id": "6455f2f2-c8ab-4363-9668-7480b13bfb96",
      "name": "Weather Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        520
      ]
    },
    {
      "parameters": {
        "name": "News",
        "description": "Call this tool to get a summary of the latest news stories. ",
        "workflowId": {
          "__rl": true,
          "value": "An15bBILYgnvYuNQ",
          "mode": "list",
          "cachedResultName": "Scrape recent news v2"
        },
        "responsePropertyName": "output"
      },
      "id": "0db09ed8-2db4-4bdc-8ae7-16c29051d318",
      "name": "News",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        780,
        520
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "8714da28-875e-4a4b-926d-4c4056daaddc",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        280
      ],
      "webhookId": "57829c8a-5525-450d-aa49-25257878f253",
      "credentials": {
        "telegramApi": {
          "id": "Oo0AR8p8M31UO0Jy",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "id": "baf72575-bca1-4e19-b26d-489410c471ad",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        280
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "55eb5897-de2a-4668-9ae9-9178a8d13bae",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        940,
        280
      ],
      "credentials": {
        "telegramApi": {
          "id": "Oo0AR8p8M31UO0Jy",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Stock Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Weather Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ebfb0106-9ef7-4d12-96fb-775e76d149e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "F0Ewj8Cgx020VHmH",
  "tags": [
    {
      "createdAt": "2024-12-03T01:21:59.078Z",
      "updatedAt": "2024-12-03T01:21:59.078Z",
      "id": "yfm3Mz3bGLBtuJyX",
      "name": "Anthropic LLM"
    },
    {
      "createdAt": "2024-12-03T01:23:12.856Z",
      "updatedAt": "2024-12-03T01:23:12.856Z",
      "id": "PXw5podJBw8huT4r",
      "name": "Production"
    }
  ]
}
