LLM Report Bots/Daily_Reporter.json
{
  "name": "Daily Reporter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "953fc8ad-32b8-46ee-956f-ec84b12deb5d",
      "name": "Every Morning @6",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        120,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27f2d170-763f-45b4-8c04-5ef861ccd45c",
              "name": "prompt",
              "value": "=You are a news reporter tasked with providing new and recent headlines on a daily basis. The current time is {{ $json['Readable date'] }} The Wiki Current Events, CNN Lite, and NewsAPI tools should be used to gather relevant, current news headlines. These news stories should be your source of truth. Use the SerpAPI, NewsAPI, and Wikipedia tools to expand on your knowledge of these topics to provide additional context.\nMake an HTTP request to CNN Lite, News as Facts, and Wiki Current News. Use the repsonses of these requests to formulate a list of the top 10 US and world news stories. Exclude stories with headlines about sports or celebrities. Focus your story selection on stories relating to economics, foreign policy, politics, war, financial markets, and technology. \nUsing these headlines as a guide, leverage the SerpAPI, NewsAPI, and Wikipedia to provide a one to two sentence summary each news story with additional relevant context. \nUse the weather report tool to get the weather in Southern Pines, NC. \nRemember to double check that you included 10 news headlines and the weather.\nAn example of a correct output for a news headline looks like this: \n\"Taiwan Tensions Rise as China Conducts Military Drills\"\nTensions in the Taiwan Strait have escalated, with China conducting large-scale military drills near the island. The exercises are seen as a show of force amid growing concerns about the potential for conflict in the region.\nSource: CNN",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f1f67fd3-91a8-4d36-b831-be56063ce911",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        320
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get the latest headlines from CNN",
        "url": "https://lite.cnn.com/"
      },
      "id": "78529663-f013-4df8-a212-003776295036",
      "name": "CNN Lite",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        860,
        700
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-haiku-20241022",
        "options": {}
      },
      "id": "eef15a33-2c42-4bb3-a87c-c8e23e226fbd",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        480,
        560
      ],
      "notesInFlow": false,
      "credentials": {
        "anthropicApi": {
          "id": "x9lh6S3TbVJkFD6H",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "name": "NewsAPI",
        "workflowId": {
          "__rl": true,
          "value": "ZOsoL70TS4s4oAQa",
          "mode": "list",
          "cachedResultName": "Scrape recent news"
        }
      },
      "id": "3e9a2c8d-5228-4de5-8fe8-1c9246eef25d",
      "name": "NewsAPI Flow",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1260,
        540
      ]
    },
    {
      "parameters": {
        "sendTo": "<EMAIL GOES HERE>",
        "subject": "=News Update {{ $('Every Morning @6').item.json['Readable date'] }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "ae83f1ec-1be4-4a6e-843e-6ab26cc188cb",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        940,
        320
      ],
      "webhookId": "c34bbd78-799b-4d89-9581-18a1b478be8c",
      "credentials": {
        "gmailOAuth2": {
          "id": "3qhA7Clw2bd6aSUg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a05a96c6-4bf7-4162-90b8-ee2e805b42c6",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1160,
        540
      ],
      "credentials": {
        "serpApi": {
          "id": "iB1VjlLasbVRmSet",
          "name": "SerpAPI account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "A webpage that contains news headlines from Wikipedia ",
        "url": "https://en.m.wikipedia.org/wiki/Portal:Current_events"
      },
      "id": "7456d5c4-7273-43fe-8bc2-40cc225553b5",
      "name": "Wiki Current Events",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        720,
        700
      ]
    },
    {
      "parameters": {},
      "id": "ef8e9f26-2362-4866-a7b4-b07e3fee5d9c",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1360,
        540
      ]
    },
    {
      "parameters": {
        "name": "WeatherReport",
        "description": "Call this tool to get the current weather forecast for southern pines, nc. ",
        "workflowId": {
          "__rl": true,
          "value": "QoaNKst3wjBIGYTn",
          "mode": "list",
          "cachedResultName": "Scrape weather"
        },
        "responsePropertyName": "text"
      },
      "id": "a889c17a-923c-4a64-a96e-8f1b42470d88",
      "name": "Weather Report",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1000,
        700
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "id": "c49dd871-b158-416d-b187-9ae24d2a740a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every Morning @6": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CNN Lite": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "NewsAPI Flow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wiki Current Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Weather Report": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a0966cc-33e0-4a38-9539-a0c76ea82c55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "97xat87mbxi2gTuo",
  "tags": [
    {
      "createdAt": "2024-12-03T01:21:59.078Z",
      "updatedAt": "2024-12-03T01:21:59.078Z",
      "id": "yfm3Mz3bGLBtuJyX",
      "name": "Anthropic LLM"
    },
    {
      "createdAt": "2024-12-03T01:22:58.397Z",
      "updatedAt": "2024-12-03T01:22:58.397Z",
      "id": "hW1KZjYUcksiWQoy",
      "name": "Gmail"
    },
    {
      "createdAt": "2024-12-03T01:23:12.856Z",
      "updatedAt": "2024-12-03T01:23:12.856Z",
      "id": "PXw5podJBw8huT4r",
      "name": "Production"
    }
  ]
}
